* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* 
html {
	font-size: 70%;
	box-sizing: border-box;
} */

body {
	font-family: "Poppins", sans-serif;
	color: #444;
	background: #0f2027; /* fallback for old browsers */
	background: linear-gradient(
		to right,
		#f88410,
		#e8a058
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100vh;
	padding: 2rem;

	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* !MAIN APP WINDOW */
.MainApp {
	/* display: flex; */
	margin-top: 1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	min-height: 55rem;
	min-width: 60rem;
	padding: 2rem;
	background-color: whitesmoke;
	border: solid black 3px;
	border-radius: 5px;
	border-style: outset;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* !Nav Bar */
.navBar {
	display: flex;
	font-size: 1.2rem;
	font-weight: 600;
	justify-content: space-between;
	align-items: center;
}

.logOut__btn {
	font-size: 1.2rem;
	font-weight: 600;
	border: solid black 1px;
	background: none;
	padding: 0.5rem;
	border-radius: 0.3rem;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.logOut__btn:hover {
	background-color: #e8a058;
}

.main__container__window {
	display: flex;
	justify-content: space-between;
	/* margin-left: 5rem;
	margin-right: 5rem; */
}

.transfer__panel__section {
	display: flex;
	flex-direction: column;
	margin-left: 3rem;
}

.balance {
	font-size: 1.7rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: solid black 1px;
	border-radius: 1rem;
}

.balance__label {
	display: flex;
	align-items: center;
	margin-left: 2rem;
	padding: 0.5rem;
}

.balance__value--USD,
.balance__value--EUR {
	margin-right: 2rem;
	padding: 0.5rem;
}

/* ?MOVEMENTS */
.movements {
	grid-row: 2 / span 3;
	background-color: #fff;
	border-radius: 1rem;
	overflow-y: auto;
	min-width: 60rem;
	margin-left: 1rem;
	border: solid black 1px;
	/* overflow: scroll; */
}

.movements__row {
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.movements__type {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 2rem;
}

.movements__date {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}

.movements__type--deposit {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
	margin-right: 6rem;
	/* min-width: 6rem; */
}

.movements__type--withdrawal {
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
	margin-right: 3.5rem;
}

.movements__value {
	font-size: 1.7rem;
	margin-left: auto;
}

/* OPERATIONS */
.operation {
	border-radius: 1rem;
	padding: 2.5rem 3.5rem;
	color: #333;
}

.operation--transfer {
	background-image: linear-gradient(to top left, #ffb003, #ffcb03);
	margin: 1rem;
	border: solid black 1px;
}

.operation--loan {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
	margin: 1rem;
	border: solid black 1px;
}

.form__input {
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0.4);
	font-family: inherit;
	font-size: 1.5rem;
	text-align: center;
	color: #333;
	padding: 0.3rem 0.3rem;
	border-radius: 0.7rem;
	transition: all 0.3s;
}

.form.form--loan {
	grid-template-columns: 1.5fr 1fr 1.5fr;
	/* min-width: 3rem; */
}
.form__label--loan {
	grid-row: 2;
}

/* End exceptions */

.operation--close {
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
	margin: 1rem;
	border: solid black 1px;
}

.switch__btn {
	background-color: #6ff3ef;
	font-size: 1.5rem;
	text-align: center;
	font-weight: 600;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: solid black 1px;
	border-radius: 0.5rem;
	cursor: pointer;
	margin: 1rem;
	text-align: center;
}

h2,
.fx__label {
	margin-bottom: 1.5rem;
	font-size: 1.7rem;
	font-weight: 600;
	color: #333;
}

.form {
	display: grid;
	grid-template-columns: 2.5fr 2.5fr 1fr;
	grid-template-rows: auto auto;
	gap: 0.4rem 1rem;
}

.welcome {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.container {
	/* position: absolute; */
	min-width: 40rem;
	min-height: 45rem;
	padding: 5rem;
	background: #ffffff; /* fallback for old browsers */
	border: black solid 4px;
	border-radius: 10px;
	border-style: outset;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.form__input--main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

:placeholder-shown {
	text-align: center;
	font-style: italic;
}

.username__input,
.password__input {
	background-color: ffffff;
	font-size: 1.5rem;
	padding: 1rem;
	margin-bottom: 1.5rem;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	border: black solid 2px;
	box-shadow: 0.8rem 0.8rem 0px #706e6e;
}
/* 
.username__input:hover,
.password__input:hover {
	border-color: cadetblue;
} */

.submit__btn,
.create__btn {
	/* display: flex; */
	font-size: 1.5rem;
	padding: 1rem;
	margin-bottom: 1.5rem;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	border: black solid 2px;
	cursor: pointer;
	box-shadow: 0.8rem 0.8rem 0px #706e6e;
}

.submit__btn {
	margin-top: 2rem;
	cursor: pointer;
}

.password__confirm__input {
	margin-top: 2rem;
}

.submit__btn:active,
.create__btn:active {
	transform: scale(0.98);
	transition: all 0.1s;
	box-shadow: 0.02rem 0.02rem 0 #706e6e;
}

.hidden {
	display: none;
	/* opacity: 0;
	transition: all 2s; */
}

/* !HIDDEN WINDOW */

.container2 {
	/* position: relative; */
	min-width: 40rem;
	min-height: 45rem;
	padding: 5rem;
	background: #ffffff; /* fallback for old browsers */
	border: black solid 4px;
	border-radius: 10px;
	border-style: outset;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.newAccount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
}

.username__signup__input,
.password__signup__input,
.password__confirm__input,
.signup__btn {
	background-color: ffffff;
	display: none;
	display: flex;
	font-size: 1.5rem;
	padding: 1rem;
	margin-bottom: 1.5rem;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	border: black solid 2px;
	/* cursor: pointer; */
	box-shadow: 0.8rem 0.8rem 0px #706e6e;
}

.signup__btn:hover {
	cursor: pointer;
}

.signup__btn:active {
	transform: scale(0.98);
	transition: all 0.1s;
	box-shadow: 0.02rem 0.02rem 0 #706e6e;
}

.MainPage__btn {
	cursor: pointer;
	margin-top: 1rem;
	font-size: 1.5rem;
	border: none;
	background: none;
}

.error__message {
	font-size: 1.8rem;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	color: #f7022b;
}

.error__message__signUp {
	margin-top: 0.5rem;
	font-size: 1.8rem;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	color: #f7022b;
}

/* SUMMARY */
.summary {
	grid-row: 5 / 6;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.3rem;
	margin-top: 1rem;
	border: solid black 1px;
	border-radius: 1rem;
	padding: 0.5rem;
	justify-content: space-around;
	/* margin-right: 31.5rem; */
}

.summary__label {
	display: flex;
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	/* margin-right: 0.8rem; */
	/* text-align: right; */
}

.summary__value {
	font-size: 1.6rem;
	font-weight: 600;
	margin-right: 0.5rem;
}

.summary__value--in,
.summary__value--interest {
	color: #66c873;
}

.summary__value--out {
	color: #f5465d;
}

.btn--sort {
	margin-left: 6rem;
	border: none;
	background: none;
	font-size: 1.3rem;
	font-weight: 500;
	cursor: pointer;
}
